<a href="https://colab.research.google.com/github/aflores/colab-notebooks/blob/master/reporter-mate-poc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# Only the first time or when is updated

# pip install reportermate

In [43]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [44]:
!ls -la '/content/gdrive/My Drive/projects/reporter-mate/undoc-afghans'

total 10
drwx------ 2 root root 4096 Sep 10 20:58 data
-rw------- 1 root root 1765 Sep 10 20:49 story.txt
drwx------ 2 root root 4096 Sep 10 20:58 templates

In [45]:
data_folder = '/content/gdrive/My Drive/projects/reporter-mate/undoc-afghans/data/'
template_folder = '/content/gdrive/My Drive/projects/reporter-mate/undoc-afghans/'

# Exploring the Data

In [50]:
import pandas as pd 
import numpy as np
df_pt=pd.read_csv(data_folder + 'afg-refugee-returns-demo-data.csv')

pd.set_option('precision',0)

In [51]:
df_pt.head()

   id    province district  ... from_country  documented received_assistance
0   1     Badghis       d2  ...          PAK           y                   y
1   2     Badghis       d1  ...          OTH           y                   n
2   3  Badakhshan       d2  ...          OTH           y                   n
3   4     Badghis       d2  ...          PAK           y                   y
4   5  Badakhshan       d2  ...          OTH           n                   n

[5 rows x 8 columns]

In [52]:
df_pt.dtypes

id                      int64
province               object
district               object
date                   object
returns                 int64
from_country           object
documented             object
received_assistance    object
dtype: object

In [53]:
#df_pt.resample(rule='W',on='date').first()

In [61]:

df_pt['year'] = pd.DatetimeIndex(df_pt['date']).year
df_pt['month'] = pd.DatetimeIndex(df_pt['date']).month
df_pt = df_pt.replace(np.nan, '--', regex=True)

In [64]:

pd.pivot_table(df_pt,index=["year","month"],values=['returns'],columns=['from_country','province','documented'],aggfunc="sum",margins=True)

                returns                        ...
from_country        IRN                        ...        PAK                    All
province     Badakhshan        Badghis         ... Badakhshan Badghis
documented            n      y       n      y  ...          y       n      y
year month                                     ...
2018 1              242    900     392    511  ...        351     587    415    7093
     2              416     88     220    110  ...        455     675    171    5757
     3              113    460     178    407  ...       1362     751    954    6632
     4              592    444     376    557  ...        548     382    430    6405
     5              304    329     724    106  ...        521     680     87    5567
     6              607    608     775      3  ...        406     301    279    5192
     7               97    410     725    667  ...         54     707    437    5044
     8              247    227     244    249  ...        714     197    569    4393
     9              324    722     669     50  ...        645     597    328    6072
     10             315    523    1270     97  ...        364     910    510    6303
     11             330    295     779    986  ...        650     242    169    5754
     12             374    763     325   1456  ...        586     351    457    7424
2019 1              893   1027     165    655  ...        269     762    302    7897
     2              716    711     470    425  ...         30     986    744    6609
     3              NaN    458     786    412  ...        297     276    270    5211
     4              479    337     168    281  ...        785     103    449    5607
     5              657    673     768    426  ...        338     539    475    6959
     6              232    415     NaN    411  ...       1245    1008    323    7018
     7              343    263     710    451  ...        716     212    979    7906
     8             1057   1266     487    414  ...        492     208    411    7184
     9              393    456      46    398  ...        223     657   1007    5619
     10             736    604     640    874  ...        334     647    473    7538
     11            1225    180     350    534  ...        360     868    899    6549
     12             121   1021     118    247  ...        336     498    467    5884
All               10813  13180   11385  10727  ...      12081   13144  11605  151617

[25 rows x 13 columns]

#ReporterMate

In [ ]:
from reportermate import analyseAndRender

In [ ]:
data = data_folder + 'afg-refugee-returns-demo-data.csv'
template = template_folder + 'highlights.txt'

print(analyseAndRender(data,template))

<section id="highlights">
 Group by:
   from_country      id  returns
0          IRN  156380    46105
1          OTH  179353    54795
2          PAK  164767    50717
 -----
 Filter by:
       id    province district  ... from_country  documented received_assistance
6      7  Badakhshan       d1  ...          OTH           n                   y
17    18  Badakhshan       d1  ...          OTH           y                   y
19    20     Badghis       d2  ...          OTH           y                   y
23    24     Badghis       d1  ...          OTH           n                   y
32    33  Badakhshan       d1  ...          OTH           y                   y
..   ...         ...      ...  ...          ...         ...                 ...
973  974  Badakhshan       d1  ...          OTH           n                   y
976  977     Badghis       d1  ...          OTH           n                   y
986  987     Badghis       d1  ...          OTH           y                   y
991  992     Badghis       d2  ...          OTH           y                   y
997  998  Badakhshan       d2  ...          OTH           n                   y

[172 rows x 8 columns]
 -----
 Unique (count):
 2
 ----
Summarize by date period:
       id  returns
0   51108    14990
1   39982    12366
2   39206    11843
3   36849    12012
4   40560    12526
5   37134    12210
6   48262    12950
7   38858    11577
8   37799    11691
9   47473    13841
10  40793    12303
11  42476    13308


</section>